@model List<MovieLibrary.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieDetails</h2>
<p>
    @*@Html.ActionLink("Back To Home", "Index", "Movie")*@
    <input id="btnBackToHome" type="button" value="Back To Home" onclick="location.href='@Url.Action("Index","Movie")'" />
</p>
<div>
    <table>
        <tr>
            <td>
                <img src="@ViewData.Model[0].Poster" alt="" />
            </td>

        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Title
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Year
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].MovieId
            </td>
        </tr>
        <tr>
            <td>

                @ViewData.Model[0].Actors

            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Genre
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Rating
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Released
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Type
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Plot
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Poster
            </td>
        </tr>

    </table>
</div>
