@model List<MovieLibrary.Models.Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieDetails</h2>
<p>
    @*@Html.ActionLink("Back To Home", "Index", "Movie")*@
    <input id="btnBackToHome" type="button" value="Back To Home" onclick="location.href='@Url.Action("Index","Movie")'" />
    <input id="btnBackToSearchResults" type="button" value="Back To Search Reults" onclick="location.href='@Url.Action("ShowSearchResultsPage","Movie")'" />
</p>
<div>
    @if (ViewData.Model[0].Poster.Length < 5 )
    {
    <img src="~/Content/noPosterAvailable.jpg" alt="no poster"  />
    }
    else
    {
    <img src="@ViewData.Model[0].Poster" alt="poster" >
    <OBJECT data="@ViewData.Model[0].Poster" type="image/png" >movie poster</OBJECT>
    }
    <table class="grid">
        <tr>
            <td>
                @ViewData.Model[0].Title
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Year
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].MovieId
            </td>
        </tr>
        <tr>
            <td>

                @ViewData.Model[0].Actors

            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Genre
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Rating
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Released
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Type
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Plot
            </td>
        </tr>
        <tr>
            <td>
                @ViewData.Model[0].Poster
            </td>
        </tr>

    </table>
</div>
